<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.linuxgames">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinuxGames">
        <activity android:name=".activities.registerActivity"></activity>
        <activity android:name=".activities.userActivity" />
        <activity
            android:name=".tabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.LinuxGames.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.gameDetails"
            android:noHistory="true"
            android:theme="@style/Theme.LinuxGames.SlidrActivityTheme" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>